$gotham: linear-gradient(
  to right top,
  rgb(55, 65, 81),
  rgb(17, 24, 39),
  rgb(0, 0, 0)
);
$safari: linear-gradient(
  to right top,
  rgb(234, 179, 8),
  rgb(168, 85, 247),
  rgb(59, 130, 246)
);
$warmGlow: linear-gradient(
  to bottom left,
  rgb(209, 213, 219),
  rgb(192, 38, 211),
  rgb(234, 88, 12)
);
$pandora: linear-gradient(
  to top,
  rgb(236, 72, 153),
  rgb(239, 68, 68),
  rgb(234, 179, 8)
);
