html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Set a consistent baseline for typography */
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #171717;
  display: grid;
  place-items: center;
  font-weight: 300;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove hyperlink styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default input styles */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Remove default button styling */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Reset media elements to prevent unwanted default controls */
video,
audio {
  display: inline-block;
}

.container {
  width: min(100%, 800px);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__wrapper {
  width: 471px;
  height: 294px;
  background-color: transparent;
  perspective: 1000px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-image: linear-gradient(to bottom left, rgb(209, 213, 219), rgb(192, 38, 211), rgb(234, 88, 12));
  border-radius: 16px;
}

.card__wrapper:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%; /* Safari */
  backface-visibility: hidden;
}

.card__front {
  padding: 28px 35px;
  display: flex;
  flex-direction: column;
}
.card__front .mastercard {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
}
.card__front .mastercard .ellipse {
  border: 5px solid white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.card__front .mastercard .ellipse:nth-child(1) {
  background-color: white;
  transform: translateX(14px);
}
.card__front .emv__chip {
  width: 70px;
  height: auto;
}
.card__front--info {
  flex: 1;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.card__front--info .row-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__front--info .row-one .number {
  color: white;
  font-size: 1.7rem;
}
.card__front--info .row-one .number span:not(:first-child) {
  margin-left: 16px;
}
.card__front--info .row-one img {
  width: 50px;
  height: 50px;
}
.card__front--info .row-two {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-size: 1.4rem;
  margin-top: auto;
}
.card__front--info .row-two .expiry__date {
  text-align: end;
}
.card__front--info .row-two .expiry__date div:nth-child(1) {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.card__back {
  color: white;
  transform: rotateY(180deg);
  padding: 15px 20px;
  font-style: italic;
  font-size: 0.7rem;
}
.card__back .black-stripe {
  height: 65px;
  background-color: black;
  margin: 12px -20px 16px -20px;
}
.card__back .white__stripe {
  display: flex;
  height: 48px;
  background-color: white;
}
.card__back .white__stripe--signature {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__back .white__stripe--signature .stripe {
  height: 1px;
  background-color: #5897d2;
  opacity: 60%;
}
.card__back .white__stripe--cvv {
  color: black;
  display: grid;
  place-items: center;
  padding-inline: 16px;
  font-size: 1.2rem;
  font-weight: 500;
}
.card__back .authorised {
  margin-top: 7px;
}
.card__back .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.card__back .info__disclaimer {
  flex: 1;
}
.card__back .info__disclaimer--disclaimer {
  margin-bottom: 10px;
}
.card__back .info .holo-sticker {
  width: 108px;
  height: auto;
}
.card__back .info .holo-sticker img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */