@use "./gradients.scss";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Set a consistent baseline for typography */
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #171717;
  display: grid;
  place-items: center;
  font-weight: 300;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove hyperlink styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default input styles */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Remove default button styling */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Reset media elements to prevent unwanted default controls */
video,
audio {
  display: inline-block;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

@mixin gradientBase {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0;
  display: none;
  animation: clipPathHover 0.4s ease forwards;
}

.color {
  @include gradientBase();
}

.gradient1 {
  background-image: gradients.$gotham;
}
.gradient2 {
  background-image: gradients.$safari;
}
.gradient3 {
  background-image: gradients.$pandora;
}
.gradient4 {
  background-image: gradients.$warmGlow;
}
.gradient5 {
  background-image: gradients.$beachside;
}

.container {
  width: min(100%, 800px);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__wrapper {
  width: 471px;
  height: 294px;
  background-color: transparent;
  perspective: 1000px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  background-color: mediumseagreen;
}

// Hover
.card__wrapper:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card__front {
  padding: 28px 35px;
  display: flex;
  flex-direction: column;

  .mastercard {
    display: flex;
    width: fit-content;
    align-self: flex-end;
    .ellipse {
      border: 5px solid white;
      border-radius: 50%;
      width: 45px;
      height: 45px;

      &:nth-child(1) {
        background-color: white;
        transform: translateX(14px);
      }
    }
  }

  .emv__chip {
    width: 70px;
    height: auto;
  }

  &--info {
    flex: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .row-one {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .number {
        color: white;
        font-size: 1.7rem;

        span:not(:first-child) {
          margin-left: 16px;
        }
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    .row-two {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      color: white;
      font-size: 1.4rem;
      margin-top: auto;

      .expiry__date {
        text-align: end;
        div:nth-child(1) {
          font-size: 0.8rem;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.card__back {
  color: white;
  transform: rotateY(180deg);
  padding: 15px 20px;
  font-style: italic;
  font-size: 0.7rem;

  .black-stripe {
    height: 65px;
    background-color: black;
    margin: 12px -20px 16px -20px;
  }

  .white__stripe {
    display: flex;
    height: 48px;
    background-color: white;

    &--signature {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .stripe {
        height: 1px;
        background-color: #5897d2;
        opacity: 60%;
      }
    }

    &--cvv {
      color: black;
      display: grid;
      place-items: center;
      padding-inline: 16px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .authorised {
    margin-top: 7px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &__disclaimer {
      flex: 1;

      &--disclaimer {
        margin-bottom: 10px;
      }
    }

    .holo-sticker img {
      width: 110px;
      height: 58px;
    }
  }
}

.colorpick {
  width: 240px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  #gradient1 + label {
    background-image: gradients.$gotham;
  }
  #gradient2 + label {
    background-image: gradients.$safari;
  }
  #gradient3 + label {
    background-image: gradients.$pandora;
  }
  #gradient4 + label {
    background-image: gradients.$warmGlow;
  }
  #gradient5 + label {
    background-image: gradients.$beachside;
  }

  .custom-radio {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #334155;
    transition: 0.3s ease;
    cursor: pointer;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .custom-radio {
    transform: translateY(-14px) scale(1.4);
    border-color: #e2e8f0;
  }

  .custom-radio:hover {
    border-color: #94a3b8;
  }
}

@keyframes clipPathHover {
  from {
    clip-path: ellipse(20% 0% at 50% 100%);
  }
  to {
    clip-path: ellipse(70% 55% at 50% 100%);
  }
}

// toggle

.disable-mouse {
  pointer-events: none;
}
